<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!--    引入外部配置问卷必须在最上面-->
    <properties resource="db.properties">
        <property name="username" value="root"/>
    </properties>

<!--别名-->
    <typeAliases>
<!--    方法一    <typeAlias type="org.example.pojo.User" alias="User"/>-->

<!--   别名可以在与接口对应的xml文件中使用 如UserMapper.xml中     -->
        <package name="org.example.pojo"/>
<!--    会自动将 包下的类引入 如果没有注解，别名默认为包名的小写    -->
    </typeAliases>

    <!--环境-->


<!--  default 表示选中的环境的id  -->
    <environments default="development">
        <!--可以配置多套环境-->
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <!--             useSSL=true 表示安全连接   &amp 是&  这里面不能直接用&-->
                <property name="url" value="${url}"/>
                <!--                ?useSSl=true&amp;useUnicode=true&amp;characterEncoding=UTF-8-->
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
<!--   方法一 -->
    <!--<mappers>
        <mapper resource="org/example/dao/UserMapper.xml"/>
    </mappers>-->

<!--   方法二 -->
<!--    <mappers>
        <mapper class="org.example.dao.UserMapper"/>
&lt;!&ndash;     通过这种方法 UserMapper.xml必须与UserMapper.class 在同一个包下面 且必须同名   &ndash;&gt;
    </mappers>-->
<!--方法三-->

<!--   UserMapper.xml 和UserMapper.class 必须同名且在同一个包下 -->
<mappers>
    <mapper resource="org/example/dao/StudentMapper.xml"/>
    <mapper resource="org/example/dao/TeacherMapper.xml"/>

</mappers>
</configuration>