<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!--namespace 对应接口的名字-->
<mapper namespace="org.example.dao.UserMapper">
<!--    id是接口中对应的方法名  resultType 是返回值的类型 parameterType是参数的类型-->


    <select id="getUserList" resultType="org.example.pojo.User">
        select * from  User
    </select>
    <select id="getUserById" resultType="org.example.pojo.User" parameterType="java.lang.Integer">
        select * from User where id=#{id}
    </select>

    <insert id="addUser"  parameterType="org.example.pojo.User" >
        insert into user values(#{id},#{name},#{pwd});
    </insert>

    <insert id="addUser2"  parameterType="map" >
        insert into user values(#{userid},#{username},#{userpwd});
    </insert>
    
    <update id="updateUser" parameterType="org.example.pojo.User">
        update user set name=#{name},pwd=#{pwd} where id=#{id};
    </update>

    <delete id="deleteById" parameterType="int">
        delete from user where id=#{id};
    </delete>

    <select id="getUserByLike" parameterType="java.lang.String" resultType="org.example.pojo.User">
        select * from user where name like "%"#{value}"%";
    </select>


    <!--
            
    因为配置文件默认是在resource下
    所以这个配置文件会找不到
    需要去pom。xml中配置资源过滤

    -->

</mapper>