<component name="ArtifactManager">
  <artifact type="exploded-ear" name="springmvc-02-hellomvc:ear exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/springmvc_02_hellomvc_ear_exploded</output-path>
    <root id="root">
      <element id="directory" name="web.war">
        <element id="artifact" artifact-name="hellomvc" />
      </element>
      <element id="javaee-facet-resources" facet="springmvc-02-hellomvc/javaeeApplication/javaEEApplication" />
    </root>
  </artifact>
</component>